.cmnitypage {
  scroll-behavior: smooth;
  transition: 0.3s all ease-in-out;
  min-height: 100vh;

}

.linearbgcmitypg {
  transition: 0.3s all ease-in-out;
  background: linear-gradient(#fff, #f2b5bb,#5faae3, #939bcb);
}

.CMT {
  transition: 0.3s all ease-in-out;
}


.cmnitypage header {
  font-size: 17px;
  color: black;
  padding: 3% 20%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.head_st {
  color: #13436b;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.allposts {
  display: flex;
  gap: 70px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 150px;
}

.post {
  /* border: 2px solid white; */
  max-width: 30%;
  min-width: 30%;
  padding: 20px 30px;
  background-color: #fff;
  color: white;
  border-radius: 10px;
  box-shadow: #00000067 0px 0px 10px;

}

.posthead {
  display: flex;
  color: black;
  padding: 30px 30px;
  align-items: center;
  font-family: 'Baloo Bhai 2';
}

.posthead img {
  height: 30px;
  border-radius: 50%;
  margin: 0px 30px;
  margin-left: 0;
}

.post_content {
  font-family: 'Montserrat';
  padding: 30px;
  padding-top: 0;
}

.post_text {
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  color: #000;
}


.form-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  font-family: sans-serif, 'Poppins';
  transition: 0.3s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-popup form {
  background-color: #20242a;
  min-width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: white;
}

.form-popup h3 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 30px;

}

.form-popup label {
  display: block;
  width: 90%;
  margin: auto;

  margin-bottom: 15px;

}

.form-popup input,
.form-popup textarea {
  display: block;
  width: 90%;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
  background-color: #00000000;
  color: white;
  font-size: 13px;
  font-family: 'Baloo Bhai 2', Arial, Helvetica, sans-serif;
}

.form-popup button[type="submit"],
.form-popup button[type="button"] {
  display: block;
  width: 80px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  /* background-color: #4caf50; */
  color: #fff;
  cursor: pointer;
  transition: 0.2s all ease;
}

.submitbtn {
  transition: 0.3s all ease;
  background-color: #152446;
  background: rgb(43, 93, 66);
  background: linear-gradient(34deg, rgb(10, 102, 53)0%, rgba(0, 168, 79, 1) 98%);
}

.closebtn {
  background-color: #28478f;

}


.submitbtn:hover {
  transition: 0.3s all ease;

  background-color: #28478f;
  background: rgb(43, 93, 66);
  background: linear-gradient(34deg, rgb(21, 118, 67)0%, rgb(18, 164, 87) 98%);
  transform: scale(1.1);
}

.closebtn:hover {
  /* background-color: #152446; */
  transform: scale(1.1);

}

.sharesection {
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, #00000045 0%, rgba(0, 0, 0, 0) 80%);
  /* backdrop-filter: blur(4px); */
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.share_btn {
  display: inline-flex;
  justify-content: center;
  height: 40px;
  padding: 10px 20px;
  background-color: #152446;
  border: none;
  outline: none;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid white;
}

.errormessage {
  font-size: small;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(196, 95, 95);
  font-weight: 700;
}




@media screen and (max-width : 1024px) {
  .cmnitypage header {
    font-size: 14px;
    padding: 10% 10%;
  }

  .head_st {
    font-size: 25px;
  }

  .post {
    max-width: 70%;
    min-width: 70%;
    padding: 10px 10px;
    /* background-color: #1e2227; */
    color: white;
    border-radius: 8px;
    /* box-shadow: #000 0px 0px 10px; */
  }

  .posthead {
    display: flex;
    /* color: white; */
    padding: 10px 10px;
    align-items: center;
    font-family: 'Baloo Bhai 2';
    /* margin-bottom: 20px; */
  }

  .posthead img {
    height: 20px;
    border-radius: 50%;
    margin: 0px 30px;
    margin-left: 0;
  }

  .posthead .name {
    font-size: 13px;
  }

  .post_content {
    font-family: 'Montserrat';
    padding: 10px 5px;
    padding-top: 0;
  }

  .post_text {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }

  .sharesection {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #000000d6 0%, rgba(0, 0, 0, 0) 80%);
    /* backdrop-filter: blur(4px); */
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .share_btn {
    display: inline-flex;
    justify-content: center;
    height: 40px;
    padding: 5px 10px;
    background-color: #152446;
    border: none;
    outline: none;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid white;
  }

  .form-popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    font-family: sans-serif, 'Poppins';
    transition: 0.3s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-popup form {
    background-color: #20242a;
    max-width: 70%;
    min-width: 70%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: white;
  }

  .form-popup h3 {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 30px;

  }

  .form-popup label {
    display: block;
    width: 90%;
    margin: auto;

    margin-bottom: 15px;
    font-size: 12px;
  }

  .form-buttons {
    display: flex;
  }


  .form-popup input,
  .form-popup textarea {
    display: block;
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
    background-color: #00000000;
    color: white;
    font-size: 13px;
    font-family: 'Baloo Bhai 2', Arial, Helvetica, sans-serif;
  }

  .form-popup button[type="submit"],
  .form-popup button[type="button"] {
    display: block;
    width: 32%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    /* background-color: #4caf50; */
    color: #fff;
    cursor: pointer;
    transition: 0.2s all ease;
  }

  .submitbtn {
    transition: 0.3s all ease;
    background-color: #152446;
    background: rgb(43, 93, 66);
    background: linear-gradient(34deg, rgb(10, 102, 53)0%, rgba(0, 168, 79, 1) 98%);
  }

  .closebtn {
    background-color: #28478f;

  }


  .submitbtn:hover {
    transition: 0.3s all ease;

    background-color: #28478f;
    background: rgb(43, 93, 66);
    background: linear-gradient(34deg, rgb(21, 118, 67)0%, rgb(18, 164, 87) 98%);
    transform: scale(1.1);
  }

  .closebtn:hover {
    /* background-color: #152446; */
    transform: scale(1.1);

  }
}