* {
    margin: 0;
    padding: 0;

}

body {
    /* background: url("../image/bg3.png") no-repeat center/cover; */
    min-height: 100%;
}

.contactpage {
    background: linear-gradient(#fff, #baebfa, #939bcb);
    font-family: 'Montserrat', cursive;
}

/* 
 #navbar {
     display: flex;
     align-items: center;
     position: sticky;
     top: 0;

 }
 
 #navbar ul {
     display: flex;

 }

 #navbar ul li {

     list-style: none;
     font-size: 25px;
 }
 
 #navbar ul li a {
     color: white;
     display: block;
     padding: 3px 30px;
     border-radius: 10px;
     text-decoration: none;
    }
    
    #navbar::before {
     content: "";
     background-color: black;
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0px;
     left: 0px;
     z-index: -1;
     opacity: 0.8;
    }
    
    #navbar ul li a:hover {
     color: yellowgreen;
     
    }

    #logo {
        margin: 0px 1px;

 } */
/* 
#logo img {
    margin: 5px 8px;
    height: 60px;
} */

/* #search ul{
    /* text-align: left; */



/* #search ul li {
    color: rgb(172, 245, 145);
    list-style: none;
    padding-left: 200px;
    font-size: 20px;
    text-align: left;
    
}
 
 #search ul li a {
     
     color: white;
     text-decoration: none;
     list-style: none;
     display: block;
     font-size: 20px;
    padding-left: none;
    
} */

.firstsec ul {
    display: flex;
    padding: 15px;

}

.firstsec ul li {

    color: rgb(172, 245, 145);
    text-decoration: none;
    list-style: none;
    /* padding-right: 10px; */
    padding-left: 20px;
    font-size: 20px;
}

.firstsec ul li a {

    color: white;
    text-decoration: none;
    list-style: none;
    display: block;
    font-size: 20px;

}

.firstsec ul li a:hover {
    color: greenyellow;
}

/* .mainHeadingBlue h1 {
    font-size: 60px;
    color: #c5f69c;
    text-transform: uppercase;
    padding-left: 75px;
   padding-top: 40px;
   font-size: 75px;
    } */






.contt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 120px);
}

.wrapper {
    /* position: absolute;
     top: 50%;
     left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 100%; */
    width: 60%;
    /* background: rgba(0, 0, 0, 0.8); */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000083;
    /* backdrop-filter: blur(10px); */

}

.wrapper .title h1 {
    color: #13436b;
    text-align: center;
    margin-bottom: 25px;
    font-size: 75px;
}

.contact-form {
    display: flex;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #13436b;
    padding: 10px;
    color: #13436b;
    width: 100%;
    font-size: 20px;
    /* font-weight: bold; */
}

.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    color: #13436b;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #13436b;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #13436b;
}

.btnsend {
    background: #939bcb;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #13436b;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid white;
    transition: 0.15s all ease;
}

.btnsend:hover {
    color: black;
    font-weight: 600;
    /* background-color: #939bcb; */
    box-shadow: #00000081 10px 10px 20px;
}

@media screen and (max-width: 600px) {
    .contact-form {
        flex-direction: column;
    }

    .msg textarea {
        height: 80px;
    }

    .input-fields,
    .msg {
        width: 100%;
    }
}



/* #social {
    
} */

#socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    /* size-adjust: 20px 20px; */
}

.social-item {
    padding: 10px;
}

#socialmedia img {
    /* padding-top: 23px; */
    height: 35px;
    /* filter: grayscale(30) ; */
    background-color: rgb(202, 237, 130);
    border-radius: 50%;

}

.h-primary {
    font-size: 25px;
    text-align: center;
    color: #cbe1c5;

}

/* 

footer {
    background: rgb(34, 55, 14);
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    width: 100vw;

}

@media screen and (min-width:768px) {
    footer {
        background: rgb(34, 55, 14);
        color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        position: absolute;
        bottom: 0px;
        width: 100vw;
    }
} */

.center {
    text-align: center;
}

@media screen and (max-width : 768px) {

    .wrapper .title h1 {
        color: #13436b;
        text-align: center;
        margin-bottom: 25px;
        font-size: 30px;
    }

    .wrapper {
        width: 90%;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px #00000083;
        margin: 40px 0px;
    }
}

/* CSS for the popup */
.contactpage .success_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contactpage .success_popup h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contactpage .success_popup p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.contactpage .success_popup button:hover {
    background-color: #990026;

}


.contactpage .success_popup button {
    background-color: #e30039;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    max-width: 120px;
    border-radius: 7px;
}

/* CSS for the overlay */
.contactpage .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9998;
}

@media screen and (max-width:768px) {
    .contactpage .success_popup {
        width: 90%;

    }

    .contactpage .success_popup p {
        font-size: 15px;
        text-align: center;
    }



    .contactpage .success_popup button {
        background-color: #e30039;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 15px;
        cursor: pointer;
        max-width: 120px;
        border-radius: 20px;
    }
}