.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    /* background-color: #101316; */
    color: #000;
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.158); */
    background-color: #fff;
    z-index: 99;
}



.navbar__logo {
    display: inline-flex;
    justify-content: center;
    height: 100%;
}

.navbar__logo a {
    font-size: 28px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    height: 100%;
    /* color: #fff; */

}

.navbar__logo img {
    height: 65px;
    /* filter: invert(); */
    width: auto;
}

.navbar__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__list li {
    margin: 0 20px;
}

.navbar__list li a {
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', 'Poppins', sans-serif, Arial, Helvetica;
    /* color: #a5a5a5; */
    color: #000;
    transition: all 0.2s ease;


}

.navbar__menu {
    display: none;
    cursor: pointer;
}

.navbar__menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.navbar__menu-icon span {
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.navbar__menu-icon.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.navbar__menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.navbar__menu-icon.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (min-width: 1024px) {
    .navbar__list a:hover {
        /* color: #fff; */
        /* border-bottom: #a5a5a5 1px solid; */
        box-shadow: #33333372 0px 10px 10px;
    }

}

@media only screen and (max-width: 1024px) {
    .navbar {
        padding: 0 20px;
        padding-left: 10px;
        height: 80px;
        z-index: 99;

    }

    .navbar__logo img {
        height: 45px;
        /* filter: invert(); */
        width: auto;
    }

    .navbar__list {
        
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        background-color: #0000006e;
        backdrop-filter: blur(15px) brightness(20%);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 99;
    }

    .navbar__list.active {
        opacity: 1;
        visibility: visible;
    }

    .navbar__list li {
        margin: 10px 0;
    }

    .navbar__menu {
        display: block;
    }

    .navbar__list li a {
        /* color: #a5a5a5; */
        color: #ffffff;
    }
}